page-piedrapapeltijera {
.loader .my-loader {
    background-color: black;
  
  
}
.loading{
      position:absolute;
    top:50%;
    right:50%;
}

.card-background-page {
    
     height:100%;
         position: relative;
      

  .card-botons {
      padding:0px;
      border-radius:50%;
      width:60%;
      height:32%;
   display:inline-block;
  }

 

 


}
}

