page-about {
  .about{
   
    background-image: url("../assets/imagenes/descarga.jpg") ;
    background-size: cover;
  }
  .aboutt{
     font-family: cursive;
    font-weight: bold;
     font-size:10px;
  }
}
